.head a{
    text-decoration: none;
    margin-right: 15px;
    color: white;
    font-size: 20px;
}
.head{
    text-align: right;
}
.white{
    margin-right: 10px;
    color: white;
    font-size: 20px;
}
.style-button{
    background-color: #e74c3c;
    border: none;
    color: white;
    border-radius: 2px;
}